

  <form action="/admin" method="POST" id="admin">
    <div class="container">
      <div class="title">
        <h1>Adding New product</h1>
        <p>Please fill in this form to add a new product</p>
      </div>
      <hr>


      <label for="goodsName">
        <b>goodsNamee</b>
      </label>
      <input type="text" placeholder="Enter goodsName" name="goodsName" id="goodsName" required>


      <label for="imgUrl">
        <b>imgUrl</b>
      </label>
      <input type="text" placeholder="Enter imgUrl" name="imgUrl" id="imgUrl" required>


      <label for="price">
        <b>price</b>
      </label>
      <input type="text" placeholder="price" name="price" id="price" required>


      <label for="description">
        <b>description</b>
      </label>
      <input type="description" placeholder="Enter description" name="description" id="description" required>
      

      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>



