<img src="" alt="userPic">
<h2>{{this.fullName}}</h2>
<a id="userInfo" href="#">user info</a>
<div class="disable">
<label for="firstName">{{this.firstName}}</label>
<label for="lastName">{{this.lastName}}</label>
<label for="email">{{this.email}}</label>
</div>
