
  <footer>
    <div class="footer">
      <br>
      <a aria-label="jg" href="#"><i class="footerfa fab fa-facebook fa-2x"></i></a>
      <a aria-label="jg" href="#"><i class="footerfa fab fa-twitter fa-2x"></i></a>
      <a aria-label="jg" href="#"><i class="footerfa fab fa-instagram fa-2x"></i></a>
      <a aria-label="jg" href="#"><i class="footerfa fab fa-google-plus fa-2x"></i></a>
      <br>
      <br>
      <h1>© 2018 IRMS ALL RIGHTS RESERVED</h1>
    </div>

  </footer>