<!DOCTYPE html>
<html lang="en">
    {{>head}}
   <body>

      {{>header}}

     <main>
       {{{body}}}

     </main>

      {{>footer}}
<<<<<<< HEAD

      <script type="text/javascript" src="/js/logic.js">
      </script>
      <script type="text/javascript" src="/js/{{script}}">
      </script>
=======
      <script type="text/javascript" src="/js/{{script}}"> </script>
>>>>>>> 70fe4e07ca37566f40522acb77a8be490c0a5436
   </body>
</html>
